<ion-header>
  <ion-navbar>
      <ion-buttons right>
          <button ion-button icon-only (click)="openSettings()">
             <ion-icon name="cog"></ion-icon>
           </button>
      </ion-buttons>
      <ion-title>
      {{latteService.user.full_name}}
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="playVideos($event)">
<ion-grid>
    <ion-row class="profileSum">
        <ion-col col-3>
            <img src="{{latteService.user.avatar}}" class="avatar" (click)="profilePicture()">
        </ion-col>
        <ion-col col-3 class="stat">
            <p>Posts</p>
            <p>{{ (videos | values).length }}</p>
        </ion-col>
        <ion-col col-3 class="stat" (click)="openFollowers()">
            <p>Followers</p>
            <p>{{ latteService.user.followers }}</p>
        </ion-col>
        <ion-col col-3 class="stat" (click)="openFollowing()">
            <p>Following</p>
            <p>{{ latteService.user.following }}</p>
        </ion-col>
    </ion-row>
    <ion-row class="editProfile">
        <ion-col col-9 offset-3>
            <button ion-button full (click)="editProfile()">Edit Profile</button>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>
        <ion-segment mode="md" [(ngModel)]="currentTab" color="primary">
             <ion-segment-button value="posts">
                 <ion-icon name="videocam"></ion-icon>
             </ion-segment-button>
             <ion-segment-button value="reposts">
               <ion-icon name="repeat"></ion-icon>
             </ion-segment-button>
           </ion-segment>
    </ion-row>
    <ng-container *ngIf="currentTab == 'posts'">
        <ng-container *ngIf="videos.length >= 1">
            <video-post *ngFor="let video of videos | values" [video]="video">
            </video-post>
        </ng-container>
        <h1 ion-text class='noVideos' *ngIf="videos.length < 1">
            No videos!
        </h1>
        <h1 ion-text class='noVideos' *ngIf="noMoreVideos">
            No more videos!
        </h1>
        <ion-infinite-scroll *ngIf="!noMoreVideos" (ionInfinite)="getMyVideos($event)" threshold="60%">
           <ion-infinite-scroll-content></ion-infinite-scroll-content>
         </ion-infinite-scroll>
    </ng-container>
    <ng-container *ngIf="currentTab == 'reposts'">
        <ng-container *ngIf="reposts.length >= 1">
            <video-post *ngFor="let repost of reposts | values" [video]="repost.video">
            </video-post>
        </ng-container>
        <h1 ion-text class='noVideos' *ngIf="reposts.length < 1">
            No Reposts
        </h1>
        <h1 ion-text class='noVideos' *ngIf="noMoreReposts">
            No more reposts!
        </h1>
        <ion-infinite-scroll *ngIf="!noMoreReposts" (ionInfinite)="getMyReposts($event)" threshold="60%">
           <ion-infinite-scroll-content></ion-infinite-scroll-content>
         </ion-infinite-scroll>
    </ng-container>
</ion-grid>
</ion-content>
