page-profile {
    .profileSum {
        text-align: center;
    }
    .avatar {
        @include circle(88px, #999);
    }
    .editProfile {
        margin-top:-25px;
    }
    .noVideos {
        text-align: center;
    }

    .tab {
        width:100%;
    }
}
