<ion-header>
  <ion-navbar>
      <ion-title class="text-center"> Latte </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let video of getVideos()">
        <video
        src="{{video.src}}"
        width="100%"
        onClick="this.paused ? this.play() : this.pause" autoplay muted></video>
        <ion-list>
          <ion-item>{{video.description}}</ion-item>
          <ion-item *ngFor="let comment of video.comments">
            <ion-avatar item-start>
              <img src="{{comment.user.avatar}}">
            </ion-avatar>
            <h2>{{comment.user.full_name}}</h2>
            <p>{{comment.text}}</p>
          </ion-item>
        </ion-list>
    </ion-card>

</ion-content>
