<ion-header>
    <ion-navbar>
        <ion-title class="text-center"> Latte </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding (ionScroll)="playVideos($event)">
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="100">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <video-post *ngFor="let video of videos | values" [video]="video">
    </video-post>
    <h1 ion-text class='noMoreVideos' *ngIf="noMoreVideos">
        No more videos!
    </h1>
    <ion-infinite-scroll (ionInfinite)="getVideos($event)" threshold="60%" *ngIf="!noMoreVideos">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
