video-post {
    .enterComment {
        border: 0px;
        width: 100%;
    }
    .interactions button {
        border: 0px !important;
    }
    ion-card-content {
        padding: 0px !important;
    }
    .likes-badge {
        position: relative;
        top: -10px;
        right: 10px;
    }
    .input-cover {
        display: none !important;
    }
    .seeMore {
        text-align: center;
    }
}
