<ion-header>
  <ion-navbar>
      <ion-title>
      {{ navParams.get('action') }}
      </ion-title>
      <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        X
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let user of followList">
            <ion-avatar item-start (click)="openUser(user.id)">
                <img src="{{user.avatar}}">
            </ion-avatar>
            <h2 (click)="openUser(user.id)">{{user.full_name}}</h2>
        </ion-item>
    </ion-list>
</ion-content>
